In [14]:
import numpy as np
import pandas as pd
import os
import glob
from os.path import join, isdir, isfile

In [15]:
path = "/data/EEG_SIGNAL/DEAP/metadata_csv"

In [16]:
metadata_path = glob.glob(join(path, "*.csv"))

In [20]:
print(metadata_path)

['/data/EEG_SIGNAL/DEAP/metadata_csv/participant_questionnaire.csv', '/data/EEG_SIGNAL/DEAP/metadata_csv/participant_ratings.csv', '/data/EEG_SIGNAL/DEAP/metadata_csv/online_ratings.csv', '/data/EEG_SIGNAL/DEAP/metadata_csv/video_list.csv']

In [21]:
metadata_path[0]

'/data/EEG_SIGNAL/DEAP/metadata_csv/participant_questionnaire.csv'

In [22]:
part_ques = pd.read_csv(metadata_path[0])

In [23]:
part_ques.head(10)

,Participant_id,Age,Gender,Handedness,Vision,Vision Aid,Education,Alcohol consumption,Coffee consumption,Black/Green tea consumption,...,Other drug consumption (optional),Attention/Neurological/Psychiatric syndroms,Hours of sleep last night,Normal hours of sleep,Level of Alertness,Consent to distribute physiological recordings,Consent to publish audio-visual recordings,Head circumference (cm),Distance Nasion-Inion (cm),Distance left - right jaw hinge (cm)
0,S01,31,Male,Right,Normal,None,MA or MSc or Ir,Never,"Today, Never",Never,...,NaN,NaN,7.0,8,Medium,1,0.0,60.0,37,38
1,S02,24,Female,Right,Normal,Contact lenses,BA or BSc or Ing,Never,Regularly,Yesterday,...,NaN,NaN,7.0,8,Medium,1,1.0,57.0,39,38
2,S03,19,Female,Right,Corrected to normal,Glasses,High school,Regularly,Never,Regularly,...,NaN,NaN,7.5,6-8,High,1,1.0,54.0,36,38
3,S04,24,Female,Right,Corrected to normal,Glasses,MA or MSc or Ir,Never,Yesterday,Regularly,...,NaN,NaN,7.0,7-8,Medium,1,1.0,57.0,40,40
4,S05,24,Male,Right,Corrected to normal,Glasses,MA or MSc or Ir,Never,Never,Never,...,NaN,NaN,9.0,8,Medium,1,0.0,61.0,40,43
5,S06,23,Male,Right,Normal,None,BA or BSc or Ing,Regularly,Regularly,Never,...,NaN,NaN,10.0,8-9,Medium,1,1.0,57.0,39,37
6,S07,31,Male,Right,Acceptable uncorrected,Glasses,MA or MSc or Ir,Yesterday,Never,Never,...,Antistaminic,NaN,9.0,7.5,Medium,1,1.0,55.0,39,43
7,S08,22,Female,Right,Normal,None,BA or BSc or Ing,Regularly,Never,Yesterday,...,NaN,NaN,9.0,8,Medium,1,1.0,57.0,39,41
8,S09,25,Female,Right,Corrected to normal,Contact lenses,BA or BSc or Ing,Regularly,Regularly,"Yesterday, Regularly",...,NaN,NaN,8.0,8,Medium,1,1.0,53.0,39,43
9,S10,31,Female,Right,Corrected to normal,glasses in car only,PhD,"Yesterday, Regularly","Today, Yesterday, Regularly",Regularly,...,NaN,NaN,6.5,7,Medium,1,0.0,57.0,39,38

In [24]:
len(part_ques)

32

In [32]:
df = pd.DataFrame(part_ques)

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 22 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Participant_id                                  32 non-null     object
 1   Age                                             32 non-null     int64
 2   Gender                                          32 non-null     object
 3   Handedness                                      32 non-null     object
 4   Vision                                          31 non-null     object
 5   Vision Aid                                      31 non-null     object
 6   Education                                       31 non-null     object
 7   Alcohol consumption                             31 non-null     object
 8   Coffee consumption                              31 non-null     object
 9   Black/Green tea consumption                     31 non-null     object
 10  Tobacco consumption                             31 non-null     object
 11  Other drug/medication consumption (optional)    29 non-null     object
 12  Other drug consumption (optional)               4 non-null      object
 13  Attention/Neurological/Psychiatric syndroms     1 non-null      object
 14  Hours of sleep last night                       31 non-null     float64
 15  Normal hours of sleep                           31 non-null     object
 16  Level of Alertness                              31 non-null     object
 17  Consent to distribute physiological recordings  32 non-null     int64
 18  Consent to publish audio-visual recordings      22 non-null     float64
 19  Head circumference (cm)                         31 non-null     float64
 20  Distance Nasion-Inion (cm)                      31 non-null     object
 21  Distance left - right jaw hinge (cm)            31 non-null     object
dtypes: float64(3), int64(2), object(17)
memory usage: 5.6+ KB

In [36]:
metadata_path[1]

'/data/EEG_SIGNAL/DEAP/metadata_csv/participant_ratings.csv'

In [38]:
part_rate = pd.read_csv(metadata_path[1])
part_rate.head(5)

,Participant_id,Trial,Experiment_id,Start_time,Valence,Arousal,Dominance,Liking,Familiarity
0,1,1,5,1695918,6.96,3.92,7.19,6.05,4.0
1,1,2,18,2714905,7.23,7.15,6.94,8.01,4.0
2,1,3,4,3586768,4.94,6.01,6.12,8.06,4.0
3,1,4,24,4493800,7.04,7.09,8.01,8.22,4.0
4,1,5,20,5362005,8.26,7.91,7.19,8.13,1.0

In [39]:
part_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1280 entries, 0 to 1279
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Participant_id  1280 non-null   int64
 1   Trial           1280 non-null   int64
 2   Experiment_id   1280 non-null   int64
 3   Start_time      1280 non-null   int64
 4   Valence         1280 non-null   float64
 5   Arousal         1280 non-null   float64
 6   Dominance       1280 non-null   float64
 7   Liking          1280 non-null   float64
 8   Familiarity     1160 non-null   float64
dtypes: float64(5), int64(4)
memory usage: 90.1 KB

In [40]:
metadata_path[2]

'/data/EEG_SIGNAL/DEAP/metadata_csv/online_ratings.csv'

In [43]:
onl_rate = pd.read_csv(metadata_path[2])
onl_rate.head(5)

   Online_id  Valence  Arousal  Dominance  Wheel_slice  Wheel_strength
0          1        4        4          3           11               3
1          1        8        3          3            3               4
2          1        5        1          1            3               2
3          1        5        3          5            3               1
4          1        7        1          7            7               1

In [44]:
onl_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1778 entries, 0 to 1777
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Online_id       1778 non-null   int64
 1   Valence         1778 non-null   int64
 2   Arousal         1778 non-null   int64
 3   Dominance       1778 non-null   int64
 4   Wheel_slice     1778 non-null   int64
 5   Wheel_strength  1778 non-null   int64
dtypes: int64(6)
memory usage: 83.5 KB

In [45]:
metadata_path[3]

'/data/EEG_SIGNAL/DEAP/metadata_csv/video_list.csv'

In [46]:
video_list = pd.read_csv(metadata_path[3])
video_list.head(5)

,Online_id,Experiment_id,Lastfm_tag,Artist,Title,Youtube_link,Highlight_start,Num_ratings,VAQ_Estimate,VAQ_Online,...,AVG_Arousal,STD_Arousal,Q1_Arousal,Q2_Arousal,Q3_Arousal,AVG_Dominance,STD_Dominance,Q1_Dominance,Q2_Dominance,Q3_Dominance
0,1,NaN,happy,Alphabeat,Fascination,http://www.youtube.com/watch?v=QvD6maGRh7c,61,16,1,2,...,4.5625,2.3444,2.4167,4.5,7.0,5.2500,1.7139,5.0000,5.0,6.5833
1,2,1.0,fun,Emilíana Torrini,Jungle Drum,http://www.youtube.com/watch?v=iZ9vkd7Rp-g,81,14,1,1,...,5.8571,2.1993,4.0000,7.0,7.0,6.0000,1.5584,5.0000,6.0,7.0000
2,3,NaN,fun,The Go! Team,Huddle Formation,http://www.youtube.com/watch?v=X0eso4ARXzk,136,14,1,1,...,5.5714,2.0947,4.8333,6.0,7.0,5.5000,1.8420,5.0000,5.0,7.0000
3,4,NaN,fun,Junior Senior,Move Your Feet,http://www.youtube.com/watch?v=TjkQeBG8r_s,161,14,1,1,...,5.5000,2.2913,3.9167,6.0,8.0,5.0000,1.4142,4.9167,5.0,6.0000
4,5,NaN,fun,Of Montreal,Wraith Pinned To The Mist And Other Games,http://www.youtube.com/watch?v=7PoJv4N1Too,126,14,1,1,...,5.1429,1.4070,4.8333,5.0,6.0,4.9286,1.5336,4.9167,5.0,6.0000

In [47]:
video_list.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Online_id        120 non-null    int64
 1   Experiment_id    40 non-null     float64
 2   Lastfm_tag       60 non-null     object
 3   Artist           120 non-null    object
 4   Title            120 non-null    object
 5   Youtube_link     120 non-null    object
 6   Highlight_start  120 non-null    int64
 7   Num_ratings      120 non-null    int64
 8   VAQ_Estimate     120 non-null    int64
 9   VAQ_Online       120 non-null    int64
 10  AVG_Valence      120 non-null    float64
 11  STD_Valence      120 non-null    float64
 12  Q1_Valence       120 non-null    float64
 13  Q2_Valence       120 non-null    float64
 14  Q3_Valence       120 non-null    float64
 15  AVG_Arousal      120 non-null    float64
 16  STD_Arousal      120 non-null    float64
 17  Q1_Arousal       120 non-null    float64
 18  Q2_Arousal       120 non-null    float64
 19  Q3_Arousal       120 non-null    float64
 20  AVG_Dominance    120 non-null    float64
 21  STD_Dominance    120 non-null    float64
 22  Q1_Dominance     120 non-null    float64
 23  Q2_Dominance     120 non-null    float64
 24  Q3_Dominance     120 non-null    float64
dtypes: float64(16), int64(5), object(4)
memory usage: 23.6+ KB

In [48]:
len(video_list)

120

In [92]:
PATH = "/workspace/EEG_SIGNAL/checkpoints"
checkpoint_list = []

In [93]:
import torch 
import glob
from torchvision import transforms, models

In [94]:
checkpoint_list = glob.glob(join(PATH, "*.pth.tar"))

In [95]:
checkpoint_list

['/workspace/EEG_SIGNAL/checkpoints/acc_eval_object_1_0.575_checkpoint.pth.tar',
 '/workspace/EEG_SIGNAL/checkpoints/acc_eval_object_0_0.525_checkpoint.pth.tar',
 '/workspace/EEG_SIGNAL/checkpoints/acc_eval_object_1_0.65_checkpoint.pth.tar',
 '/workspace/EEG_SIGNAL/checkpoints/acc_eval_object_3_0.625_checkpoint.pth.tar',
 '/workspace/EEG_SIGNAL/checkpoints/acc_eval_object_3_0.6_checkpoint.pth.tar',
 '/workspace/EEG_SIGNAL/checkpoints/acc_eval_object_0_0.575_checkpoint.pth.tar',
 '/workspace/EEG_SIGNAL/checkpoints/acc_eval_object_0_0.625_checkpoint.pth.tar',
 '/workspace/EEG_SIGNAL/checkpoints/acc_eval_object_2_0.575_checkpoint.pth.tar',
 '/workspace/EEG_SIGNAL/checkpoints/acc_eval_object_2_0.6_checkpoint.pth.tar',
 '/workspace/EEG_SIGNAL/checkpoints/acc_eval_object_2_0.5_checkpoint.pth.tar',
 '/workspace/EEG_SIGNAL/checkpoints/acc_eval_object_2_0.625_checkpoint.pth.tar']

In [96]:
checkpoint_list[0]

'/workspace/EEG_SIGNAL/checkpoints/acc_eval_object_1_0.575_checkpoint.pth.tar'

In [97]:
checkpoint = torch.load(checkpoint_list[0])

In [98]:
print("Checkpoint key : {}".format(checkpoint.keys()))

Checkpoint key : dict_keys(['epoch', 'state_dict', 'Loss', 'optimizer'])

In [99]:
print("Epoch number: {}".format(checkpoint["epoch"]))
print("Loss value: {}".format(checkpoint["Loss"]))

Epoch number: 10
Loss value: 24.642241895198822

In [100]:
for idx in range(len(checkpoint_list)):
    checkpoint = torch.load(checkpoint_list[idx])
    obj = checkpoint_list[idx].split('/')[-1].split('_')[3]
    acc = checkpoint_list[idx].split('/')[-1].split('_')[4]
    print("Acc of Object {}: {}".format(obj, acc))
    print("Epoch number: {} - Loss: {}".format(checkpoint["epoch"], checkpoint["Loss"]))
    print("\n")

Acc of Object 1: 0.575
Epoch number: 10 - Loss: 24.642241895198822


Acc of Object 0: 0.525
Epoch number: 2 - Loss: 27.921690762043


Acc of Object 1: 0.65
Epoch number: 37 - Loss: 20.43015021085739


Acc of Object 3: 0.625
Epoch number: 23 - Loss: 23.231243789196014


Acc of Object 3: 0.6
Epoch number: 2 - Loss: 28.702392876148224


Acc of Object 0: 0.575
Epoch number: 3 - Loss: 27.112351715564728


Acc of Object 0: 0.625
Epoch number: 8 - Loss: 26.298546075820923


Acc of Object 2: 0.575
Epoch number: 36 - Loss: 21.297143906354904


Acc of Object 2: 0.6
Epoch number: 43 - Loss: 21.08469671010971


Acc of Object 2: 0.5
Epoch number: 35 - Loss: 20.92628574371338


Acc of Object 2: 0.625
Epoch number: 157 - Loss: 10.84548919647932